.nav {
    display: flex;
    justify-content: center;
    padding: 1%;
    margin: 0%;
    gap: 4rem;
    background-color: aqua;
}

.beranda {
    display: flex;
    text-align: start;
    gap: 2rem;
}

.nav1 {
    text-align: end;
    gap: 2rem;
}

.nav2 {
    padding: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}

.body {
   padding: 4%;
   margin: 4%;
   display: flex;
   justify-content: center;
   gap: 2rem;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
}
.gambar {
    
}

.Judul {
    padding: 1%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    padding: 0%;
    margin: auto;
}

.column1 {
    padding: 0%;
    margin: auto;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.column2 {
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.column3 {
    padding: 0%;
    margin: 0%;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}